apps:
- name: prometheus
  namespace: prometheus
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  server: https://kubernetes.default.svc
  project: infrastructure
  path: obserability
  repository: https://github.com/ish-xyz/MyStartup.git
  revision: HEAD
  source:
    helm:
      valueFiles:
      - custom-values.yaml
- name: falcosidekick
  namespace: kube-system
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  server: https://kubernetes.default.svc
  project: infrastructure
  path: falcosecurity/falcosidekick
  repository: https://github.com/ish-xyz/MyStartup.git
  revision: HEAD
  source:
    helm:
      valueFiles:
      - custom-values.yaml
- name: falco
  namespace: kube-system
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  server: https://kubernetes.default.svc
  project: infrastructure
  path: falcosecurity/falco
  repository: https://github.com/ish-xyz/MyStartup.git
  revision: HEAD
  source:
    helm:
      valueFiles:
      - custom-values.yaml
#
